img{
    border: solid;
    color: red,
}
h1{
    color: yellow;
    border: solid;
    border-color: black;
    background-color: red;
}
.Grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}